.field {
  position: relative;

  &__ground {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    align-content: space-between;
    justify-content: space-between;
  
    height: 400px;
    width: 400px;

    &--background {
      position: absolute;

      top: 0;
      left: 0;

      z-index: -1;
      background-color: lightgreen;
    }

    &--playground {
      background-color: transparent;
    }
  }
}
