.field {
  position: relative;

  &__game-over {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: #bbada0a6;

    z-index: 10;
  }

  &__ground {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-content: space-between;
    justify-content: space-between;

    height: 500px;
    width: 500px;

    padding: 5px;

    border-radius: 10px;

    &--background {
      position: absolute;

      top: 0;
      left: 0;

      z-index: -1;

      background-color: #bbada0;
    }

    &--playground {
      background-color: transparent;
    }
  }
}
